servers:
[
    { 
        name: "<server name>"
        username: "<username>"
        password: "<password>"
        endpoint: "https://<server ip>:<port>"
        verify: False
        keyfile : <path to keyfile> # example: "application/keys/client.key"
        certfile : <path to certfile> #"application/certs/client_eng1-lxd1.crt" 
        excluded_containers: ["exclude1","exclude2"]
        available_profiles: ["profile", "profile2"]
    }
]
