<button class="col-xs-3" ng-click="runContainerMethod(server.servername, container.name, 'delete', 'container', '')">
    <h5>
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        <strong>Test button</strong>
    </h5>
</button>
<button class="col-xs-3 col-xs-offset-5" type="button" data-toggle="modal" data-target="#createsnap-modal" ng-click="update_tar_cont(container.name)">
    <h5>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <strong>Create snapshot</strong>
    </h5>
</button>
