<!--
<div class="modal fade" id="createsnap-modal"tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p>Create snapshot</p>
            </div>
            <div class="modal-body">
                <p>Body</p>
            </div>
            <div class="modal-footer">
                <p>Footer</p>
            </div>
        </div>
    </div>
</div>
-->

<div class="row">
    <div class="col-xs-12 bg_green center">
        <div class="col-xs-12">
            <h1 class="m0">[[container.name]]</h1>
        </div>
    </div>
    <div class="col-xs-12 mt25">
        <button class="col-xs-3 col-xs-offset-6" 
        ng-click="runContainerMethod(server.servername, container.name, 'create_snapshot', 'container', '')">
            <h5>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <strong>Create snapshot</strong>
            </h5>
        </button>
        <button class="col-xs-3"
        ng-click="runContainerMethod(server.servername, container.name, 'delete', 'container', '')">
            <h5>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                <strong>Delete container</strong>
            </h5>
        </button>
    </div>
</div>
<div class="row mt25">
    <div class="col-xs-2 col-xs-offset-1">
        <h5><strong>Status:</strong></h5> 
        <h5><strong>Server:</strong></h5> 
        <h5><strong>Mac:</strong></h5> 
    </div>
    <div class="col-xs-3">
        <h5>[[container.status]]</h5>
        <h5>[[server.servername]]</h5>
        <h5>[[container.mac]]</h5>
    </div>
    <div class="col-xs-2 col-xs-offset-1">
        <h5><strong>Architecture:</strong></h5> 
        <h5><strong>Profiles:</strong></h5>
        <h5><strong>Create date:</strong></h5> 
    </div>
    <div class="col-xs-3">
        <h5>[[container.architecture]]</h5>
        <h5>[[container.profiles]]</h5>
        <h5>[[container.created_at]]</h5>
    </div>
</div>
<div class="row mt50">
    <div class="col-xs-12 bg_green center">
        <div class="col-xs-12">
            <h2 class="m0">container commands</h2>
        </div>
    </div>
    <div class="col-xs-12 mt25">
        <button class="col-xs-3" ng-click="runContainerMethod(server.servername, container.name, 'start', 'container', '')">
            <h5>
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                <strong>start</strong>
            </h5>
        </button>
        <button class="col-xs-3" ng-click="runContainerMethod(server.servername, container.name, 'stop', 'container', '')">
            <h5>
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                <strong>stop</strong>
            </h5>
        </button>
        <button class="col-xs-3" ng-click="runContainerMethod(server.servername, container.name, 'freeze', 'container', '')">
            <h5>
                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                <strong>freeze</strong>
            </h5>
        </button>
        <button class="col-xs-3" ng-click="runContainerMethod(server.servername, container.name, 'unfreeze', 'container', '')">
            <h5>
                <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                <strong>unfreeze</strong>
            </h5>
        </button>
    </div>
</div>
<div class="row mt50">
    <div class="col-xs-12 center bg_green">
        <h2 class="m0">snapshots</h2>
    </div>
    <div class="col-xs-12 mt25">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="col-xs-12 mt5" ng-repeat="s in container.snapshots" style="border-bottom:1px solid rgba(0,0,0,.5);">
                <div class="col-xs-4">
                    <h5>[[s]]</h5> 
                </div>
                <div class="col-xs-8">
                    <button  class="col-xs-6"
                    ng-click="runContainerMethod(server.servername, container.name, 'activate', 'snapshot', s)">
                        <h5>
                            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                            <strong>activate</strong>
                        </h5>
                    </button>
                    <button class="col-xs-6"
                    ng-click="runContainerMethod(server.servername, container.name, 'delete', 'snapshot', s)">
                        <h5>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            <strong>delete</strong>
                        </h5>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
