<div class="row">
    <div class="col-xs-12 center bg_green">
        <h1 class="m0">[[server.servername]]</h1>
        <input type="hidden" name="server-name" id="server-name" value="[[server.servername]]">
    </div>
</div>

<div class="row mt25">
    <div class="col-xs-2 col-xs-offset-1">
        <h5><strong>OS:</strong></h5> 
        <h5><strong>Uptime:</strong></h5> 
        <h5><strong>CPU Usage(%):</strong></h5> 
        <h5><strong>Load 1 min:</strong></h5>
        <h5><strong>Load 5 min:</strong></h5>
        <h5><strong>Load 15 min:</strong></h5>
<!-- 'uptime': u'1:20', u'MemTotal': '15.56 GB', 'lsb_release': u'Ubuntu 16.04.1 LTS', u'SwapTotal': '15.88 GB', 'iowait': u'0.00', u'SwapFree': '15.88 GB', 'cpu': '7', u'MemAvailable': '12.19 GB', u'MemFree': '11.0 GB', 'avg5': u'0,37', 'avg15': u'0,37', 'avg1': u'0,39'         -->
    </div>
    <div class="col-xs-3">
        <h5 id="lsb_release">NA</h5>
        <h5 id="uptime">NA</h5>
        <h5 id="cpu">NA</h5>
        <h5 id="avg1">NA</h5>
        <h5 id="avg5">NA</h5>
        <h5 id="avg15">NA</h5>
        
    </div>
    <div class="col-xs-2 col-xs-offset-1">
        <h5><strong>MemTotal:</strong></h5> 
        <h5><strong>MemAvailable:</strong></h5>
        <h5><strong>MemFree:</strong></h5> 
        <h5><strong>SwapTotal:</strong></h5> 
        <h5><strong>SwapFree:</strong></h5> 
        <h5><strong>iowait:</strong></h5> 
    </div>
    <div class="col-xs-3">
        <h5 id="MemTotal">NA</h5>
        <h5 id="MemAvailable">NA</h5>
        <h5 id="MemFree">NA</h5>
        <h5 id="SwapTotal">NA</h5>
        <h5 id="SwapFree">NA</h5>
        <h5 id="iowait">NA</h5>
    </div>    
</div>

<div class="row mt25">
	<div class="row">
	    <div class="col-xs-10 col-xs-offset-1 mt25 bg_green center">
	        <h3 class="m0">Containers</h3>
	    </div>
	</div>
    <div class="col-xs-10 col-xs-offset-1 mt25 bg_green center">
        <div class="col-xs-2">
            <h4 class="m0"><strong>Name</strong></h4>
        </div>
        <div class="col-xs-2">
            <h4 class="m0"><strong>Status</strong></h4>
        </div>
        <div class="col-xs-8">
            <h4 class="m0"><strong>Controls</strong></h4>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 center" ng-repeat="c in containers | orderBy:'status'" style="border-bottom:1px solid black;">
        <div class="col-xs-2">
            <h5>[[c.name]]</h5>
        </div>
        <div class="col-xs-2">
            <h5>[[c.status]]</h5>
        </div>
        <div class="col-xs-8">
            <button class="col-xs-3" ng-click="runContainerMethod(server, c, 'start')">
                <h5>
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    <strong>start</strong>
                </h5>
            </button>
            <button class="col-xs-3" ng-click="runContainerMethod(server, c, 'stop')">
                <h5>
                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                   <strong> stop</strong>
                </h5>
            </button>
            <button class="col-xs-3" ng-click="runContainerMethod(server, c, 'freeze')">
                <h5>
                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    <strong>freeze</strong>
                </h5>
            </button>
            <button class="col-xs-3" ng-click="runContainerMethod(server, c, 'unfreeze')">
                <h5>
                    <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                    <strong>unfreeze</strong>
                </h5>
            </button>
        </div>
    </div>
</div>
