<div class="row">
    <div class="col-xs-12 center bg_green">
        <h1 class="m0">[[server.servername]]</h1>
    </div>
</div>

<div class="row mt25">
    <div class="col-xs-2 col-xs-offset-1">
        <h5><strong>OS:</strong></h5> 
        <h5><strong>Uptime:</strong></h5> 
        <h5><strong>CPU Usage(%):</strong></h5> 
        <h5><strong>Load 1 min:</strong></h5>
        <h5><strong>Load 5 min:</strong></h5>
        <h5><strong>Load 15 min:</strong></h5>
    </div>
    <div class="col-xs-3">
        <h5>[[server_info.lsb_release]]</h5>
        <h5>[[server_info.uptime]]</h5>
        <h5>[[server_info.cpu]]</h5>
        <h5>[[server_info.avg1]]</h5>
        <h5>[[server_info.avg5]]</h5>
        <h5>[[server_info.avg15]]</h5>
    </div>
    <div class="col-xs-2 col-xs-offset-1">
        <h5><strong>MemTotal:</strong></h5> 
        <h5><strong>MemAvailable:</strong></h5>
        <h5><strong>MemFree:</strong></h5> 
        <h5><strong>SwapTotal:</strong></h5> 
        <h5><strong>SwapFree:</strong></h5> 
    </div>
    <div class="col-xs-3">
        <h5>[[server_info.MemTotal]]</h5>
        <h5>[[server_info.MemAvailable]]</h5>
        <h5>[[server_info.MemFree]]</h5>
        <h5>[[server_info.SwapTotal]]</h5>
        <h5>[[server_info.SwapFree]]</h5>
    </div>    
</div>

<div class="row mt25">
	<div class="row">
	    <div class="col-xs-10 col-xs-offset-1 mt25 bg_green center">
	        <h3 class="m0">Containers</h3>
	    </div>
	</div>
    <div class="col-xs-10 col-xs-offset-1 mt25 bg_green center">
        <div class="col-xs-2">
            <h4 class="m0"><strong>Name</strong></h4>
        </div>
        <div class="col-xs-2">
            <h4 class="m0"><strong>Status</strong></h4>
        </div>
        <div class="col-xs-8">
            <h4 class="m0"><strong>Controls</strong></h4>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 center" ng-repeat="c in containers | orderBy:'status'" style="border-bottom:1px solid black;">
        <div class="col-xs-2">
            <h5>[[c.name]]</h5>
        </div>
        <div class="col-xs-2">
            <h5>[[c.status]]</h5>
        </div>
        <div class="col-xs-8">
            <button class="col-xs-3" ng-click="runContainerMethod(server, c, 'start')">
                <h5>
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    <strong>start</strong>
                </h5>
            </button>
            <button class="col-xs-3" ng-click="runContainerMethod(server, c, 'stop')">
                <h5>
                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                   <strong> stop</strong>
                </h5>
            </button>
            <button class="col-xs-3" ng-click="runContainerMethod(server, c, 'freeze')">
                <h5>
                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    <strong>freeze</strong>
                </h5>
            </button>
            <button class="col-xs-3" ng-click="runContainerMethod(server, c, 'unfreeze')">
                <h5>
                    <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                    <strong>unfreeze</strong>
                </h5>
            </button>
        </div>
    </div>
</div>
