{% extends "main.html" %}
{% block body %}
<link href="{{ url_for('static',filename='styles/home.css') }}" type="text/css" rel="stylesheet"/>
<!-- ?1000 forces refresh of js file instead of cache -->
<script src="{{url_for('static',filename='home.js')}}?1000"></script>
<div class="container" style="border: 1px solid black;">
    <!-- title bar -->
    <div class="col-xs-12 title_bar">
       Saas Admin Web Panel 
    </div>

    <!-- content -->
    <div class="col-xs-12">
        <div class="col-xs-3 content_div">
            <p class="list_header">
                GENERAL
            </p>
            <ul>
                <li>
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    Overview
                </li>
            </ul>
            <p class="list_header">SERVERS</p>
            <ul>
            <li>
                <div class="panel-group" id="accordion" role="tablist" 
                    aria-multiselectable="true"
                >
                    <!-- server 1 -->
                    {% for s in servers %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading_{{s}}">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" 
                                     href="#collapse_{{s}}" 
                                    aria-expanded="true" aria-controls="collapse_{{s}}"
                                    onclick="javascript:on_click_server('{{s}}')"
                                >
                                    <span class="glyphicon glyphicon-tasks" 
                                        aria-hidden="true">
                                    </span>
                                    {{s}} 
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_{{s}}" class="panel-collapse collapse" 
                            role="tabpanel" aria-labelledby="heading_{{s}}"
                        >
                            <div class="panel-body">
                                <ul>
                                {% for c in containers[s] %}
                                    <a class="container_link"
                                        href="javascript:on_click_container('{{s}}','{{c['name']}}')">
                                    <li>
                                        <span class="glyphicon glyphicon-hdd"
                                            aria-hidden="true">
                                        </span>
                                        {{ c["name"] }} 
                                    </li>
                                    </a>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </li>
            </ul>
        </div>

        <div class="col-xs-8 col-xs-offset-1" id="info_div">
        <!-- server info div -->
        {% for s in servers %}
        <div class="col-xs-12" class="server_info_div well well-lg" 
            id="{{s}}_server_info" style="display:none;">
            <div class="col-xs-12 content_div">
            <!--
                <h1>0</h1>
                <p>{{ server_info[s][0] }}</p>
                <h1>1</h1>
                <p>{{ server_info[s][1] }}</p>
                <h1>2</h1>
                <p>{{ server_info[s][2] }}</p>
                <h1>3</h1>
                <p>{{ server_info[s][3] }}</p>
                <p id="{{s}}_memavailable">
                    {{server_info[s][0]["MemAvailable"].split(" ")[-2]}}
                </p>
                <p id="{{s}}_memfree">
                    {{server_info[s][0]["MemFree"].split(" ")[-2]}}
                </p>
                <p id="{{s}}_memtotal">
                    {{server_info[s][0]["MemTotal"].split(" ")[-2]}}
                </p>
                -->
                <div class="col-xs-12" style="text-align:center;">
                    <h1><b>{{s}}</b></h1>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <h4>
                            Memory Usage: 
                        </h4>
                        <h4>
                            {{server_info[s][0]["MemFree"].split(" ")[-2]}}
                            /
                            {{server_info[s][0]["MemTotal"]}}
                        </h4>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemax="100"
                                style="width:60%" aria-valuenow="60" id="{{s}}_progress">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <h4>
                            Latency:
                            {{ server_info[s][1]["network_latency"]}} MS
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="text-align:center;">
                <h2><b>Containers</b></h2>
            </div>
            <table class='table-bordered col-xs-12 well'>
                <tr>
                    <th>Container name</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                {% for c in containers[s] %}
                <tr class="{{c['status']}}_bg" {{s}}_tr
                    id="{{s}}_{{c['name']}}_trr">
                    <td>{{c['name']}}</td>
                    <td id="{{s}}_{{c['name']}}_status">{{ c['status'] }} </td>
                    <td>
                        <button onclick="javascript:on_click_cmd('{{s}}','{{c['name']}}','start')">
                            <span class="glyphicon glyphicon-play" aria-hidden="true">
                            </span>
                            start
                        </button>
                        <button onclick="javascript:on_click_cmd('{{s}}','{{c['name']}}','stop')">
                            <span class="glyphicon glyphicon-stop" aria-hidden="true">
                            </span>
                            stop
                        </button>
                        <button onclick="javascript:on_click_cmd('{{s}}','{{c['name']}}','freeze')">
                            <span class="glyphicon glyphicon-pause" aria-hidden="true">
                            </span>
                            freeze
                        </button>
                        <button onclick="javascript:on_click_cmd('{{s}}','{{c['name']}}','unfreeze')">
                            <span class="glyphicon glyphicon-retweet" aria-hidden="true">
                            </span>
                            unfreeze
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!--  container info div -->
        {% for c in containers[s] %}
        <div class="col-xs-12" class="container_info_div" 
            id="{{s}}_{{c['name']}}_container_info" style="display:none;">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <h1>
                        <b>
                            {{ c['name'] }} 
                        </b>
                    </h1>
                </div>
                <div class="pull-right">
                    <button onclick="javascript:on_click_cmd('{{s}}','{{c['name']}}','start')">
                        <span class="glyphicon glyphicon-play" aria-hidden="true">
                        </span>
                        start
                    </button>
                    <button onclick="javascript:on_click_cmd('{{s}}','{{c['name']}}','stop')">
                        <span class="glyphicon glyphicon-stop" aria-hidden="true">
                        </span>
                        stop
                    </button>
                    <button onclick="javascript:on_click_cmd('{{s}}','{{c['name']}}','freeze')">
                        <span class="glyphicon glyphicon-pause" aria-hidden="true">
                        </span>
                        freeze
                    </button>
                    <button onclick="javascript:on_click_cmd('{{s}}','{{c['name']}}','unfreeze')">
                        <span class="glyphicon glyphicon-pause" aria-hidden="true">
                        </span>
                        unfreeze
                    </button>
                </div>
                <div class="col-xs-12 content_div" style="margin-top:5px;">
                    <table class="table table-striped">
                        <tr>
                            <td>hw addr</td>
                            <td>{{c["expanded_config"]["volatile.eth0.hwaddr"]}}</td>
                        </tr>
                        <tr>
                            <td>architecture:</td>
                            <td>{{c["architecture"]}}</td>
                        </tr>
                        <tr>
                            <td>status:</td>
                            <td id="{{s}}_{{c['name']}}_status_info">
                                <span class="label {{ 
                                'label-success' 
                                if c['status'] == 'Running' 
                                else 'label-info' 
                                    if c['status'] == 'Frozen' 
                                else 'label-danger'}}" id="{{s}}_{{c['name']}}_status_span">
                                    {{c["status"]}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>status_code:</td>
                            <td>{{ c["status_code"] }}</td>
                        </tr>
                        <tr>
                            <td>created_at:</td>
                            <td>{{ c["created_at"] }}</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        {% endfor %}

        {% endfor %}
            
        </div>

</div>
{% endblock %}
