{% extends "main_template.html" %}
{% block head %}
<link href="/static/styles/index.css" rel="stylesheet" />
{% endblock %}
{% block body %}
<div class="col-md-12">
<!-- title row -->
<div class="row bg_green">
    <div class="col-md-12 center">
        <h1 style="color:white;">LXD Control Panel</h1>
    </div>
</div>
<!-- end title row -->

<!-- content row -->
<div class="row">
    <div class="col-md-3">
        <!--
        <h2><strong>general</strong></h2>
        <h2><strong>containers</strong></h2>
        -->
        {% raw %}
        <menu-servers ng-repeat="s in servers" server="s" server-click="openDetailsServer(s)">
            <menu-containers ng-repeat="c in getContainersByServer(s.servername)" container="c" 
            ng-click="openDetailsContainer(s, c)"></menu-containers>
        </menu-servers>

        {% endraw %}
    </div>
    <div class="col-md-9 bg_d_white mt50" id="details_container">
    </div>
</div>
<!-- end content row -->

<!-- footer row -->
<div class="row">
</div>
<!-- end footer row -->



</div>
{% endblock %}
