{% extends "main_template.html" %}
{% block head %}
<link href="{{url_for('static', filename='styles/index.css')}}" rel="stylesheet" />
{% endblock %}
{% block body %}
<div class="col-md-10 col-md-offset-1 bordered_container">
<!-- title row -->
<div class="row bordered_container">
    <div class="col-md-12 center">
        <h1>LXD Control Panel</h1>
    </div>
</div>
<!-- end title row -->

<!-- content row -->
<div class="row">
    <div class="col-md-3 bordered_container">
        <main-listing></main-listing>
    </div>
    <div class="col-md-9 bordered_container">
        <h2>details here</h2>
    </div>
</div>
<!-- end content row -->

<!-- footer row -->
<div class="row">
</div>
<!-- end footer row -->



</div>
{% endblock %}
